.screen-out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; // IE에서 스크롤바 감추기
  scrollbar-width: none; // 파이어폭스에서 스크롤바 감추기
  &::-webkit-scrollbar {
    display: none; // 크롬에서 스크롤바 감추기
  }
}
